<div class="container">
  <%= simple_form_for(post) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :alias %>
    <%= f.input :photo %>
    <%= f.input :nationality %>
    <%= f.input :flag %>
    <%= f.input :video %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>

</div>
